<!DOCTYPE html>
<html ng-app='kgui'>

<head>
    <meta charset="utf-8">

    <title>Knowledge Graph - Triple UI</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script type="text/javascript" src="../libs/jquery.growl/javascripts/jquery.growl.js"></script>
    <link rel="stylesheet" type="text/css" href="../libs/jquery.growl/stylesheets/jquery.growl.css">

    <script type="text/javascript" src="../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css">

    <!--<script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>-->

    <script type="text/javascript" src="../node_modules/angular-auto-complete/angular-auto-complete.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-auto-complete/angular-auto-complete.css"/>

    <script type="text/javascript" src="../node_modules/angular-paging/dist/paging.min.js"></script>

    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="../scripts/app/app.js?v=13960515"></script>
    <script type="text/javascript" src="../scripts/app/service/rest.js?v=13960515"></script>
    <script type="text/javascript" src="../scripts/app/controller/main.js?v=13960515"></script>

    <link rel="stylesheet" href="../styles/main.css?v=13960515">
</head>

<body ng-controller="TripleController">
<div ng-include="'templates/header.html'"></div>

<div ng-if="data" class="container" id="body">

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h1>
                {{data.pageTitle}}
            </h1>
            <h4 style="color: gray;">
                {{data.clazzTitle}}
            </h4>
        </div>
        <div class="col-xs-12 col-md-2">
            <img ng-src="{{data.pagePic}}" style="max-width: 200px; max-height: 200px;" onerror="$(this).hide();"/>
        </div>
    </div>

    <br>
    <table class="simple"
           style="width: 100%;"
           ng-if="data">
        <thead>
        <tr>
            <th style="width: 80px;">#</th>
            <th style="">خصیصه</th>
            <th style="">مقدار</th>
            <th style="width: 120px;" class="left">ماژول استخراج</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='(triple, values) in data.triples' class="line">
            <td>{{($index)+1}}</td>
            <td class="rtl">
                <a href="{{triple}}" rel="noreferrer">{{triple | mapPrefix}}</a>
            </td>
            <td class="rtl">
                <div ng-repeat="v in values" class="property">
                    <table cellpadding="2" cellspacing="2" class="simple">
                        <tr>
                            <td style="vertical-align: top;">
                                <span class="fa smaller-text fa-circle" style="margin-left:5px;"></span>
                            </td>
                            <td ng-if="v.type!='Resource'" style="max-width: 30%;">
                                <span>{{v.value}}</span>
                            </td>
                            <td ng-if="v.type=='Resource'" style="max-width: 30%;vertical-align: top;">
                                <a ng-if="v.value.indexOf('upload.wikimedia.org')===-1"
                                   ng-href="{{v.value}}" rel="noreferrer">{{v.value | mapPrefix}}</a>
                                <img ng-if="v.value.indexOf('upload.wikimedia.org')!==-1"
                                     src="{{v.value}}" style="max-width: 120px; max-height: 120px;"/>
                                <br>
                                <div ng-repeat="(p, pp) in v.properties" style="margin-right: 20px;">
                                    <table>
                                        <td>
                                            <span style="margin-left: 10px;">{{p | mapPrefix}}</span>
                                        </td>
                                        <td>
                                            <table cellpadding="2" cellspacing="2" class="simple">
                                                <tr>
                                                    <td style="vertical-align: top;">
                                                        <span class="fa smaller-text fa-circle" style="margin-left:5px;"></span>
                                                    </td>
                                                    <td ng-if="pp.type!='Resource'" style="max-width: 30%;">
                                                        <span>{{pp.value}}</span>
                                                    </td>
                                                    <td ng-if="pp.type=='Resource'" style="max-width: 30%;vertical-align: top;">
                                                        <a ng-if="pp.value.indexOf('upload.wikimedia.org')===-1"
                                                           ng-href="{{pp.value}}" rel="noreferrer">{{pp.value | mapPrefix}}</a>
                                                        <img ng-if="pp.value.indexOf('upload.wikimedia.org')!==-1"
                                                             src="{{pp.value}}" style="max-width: 120px; max-height: 120px;"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </table>

                                </div>
                            </td>
                            <td style="vertical-align: top;">
                                <span ng-if="v.lang" class="small-text text-nowrap">({{v.lang}})</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="ltr left">
                <div ng-repeat="v in values">{{v.source.module}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div ng-include="'templates/footer.html'"></div>-->
</body>

</html>