<!DOCTYPE html>
<html ng-app='kgui'>

<head>
    <meta charset="utf-8">

    <title>Knowledge Graph - Triple UI</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script type="text/javascript" src="../libs/jquery.growl/javascripts/jquery.growl.js"></script>
    <link rel="stylesheet" type="text/css" href="../libs/jquery.growl/stylesheets/jquery.growl.css">

    <script type="text/javascript" src="../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css">

    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>

    <script type="text/javascript" src="../node_modules/angular-auto-complete/angular-auto-complete.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-auto-complete/angular-auto-complete.css"/>

    <script type="text/javascript" src="../node_modules/angular-paging/dist/paging.min.js"></script>

    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../scripts/app/app.js"></script>
    <script type="text/javascript" src="../scripts/app/service/rest.js"></script>
    <script type="text/javascript" src="../scripts/app/controller/main.js"></script>

    <link rel="stylesheet" href="../styles/main.css">
</head>

<body ng-controller="TripleController">
<div ng-include="'templates/header.html'"></div>

<div ng-if="data" class="container" style="direction: rtl; min-height: 450px;">
    <h1>
        {{data.pageTitle}}
    </h1>

    <h4 style="color: gray;">
        {{data.clazz}}
    </h4>
    <br>
    <table class="table" ng-if="data">
        <thead>
        <tr>
            <th>#</th>
            <th>خصیصه</th>
            <th>مقدار</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='a in data.data'>
            <td>{{($index)+1}}</td>
            <td class="ltr">
                <a href="{{PREFIX}}{{a.item.predicate}}">{{a.item.predicate | mapPrefix}}</a>
            </td>
            <td class="rtl">
                <div ng-repeat="v in a.values">
                    <table cellpadding="2" cellspacing="2">
                        <tr>
                            <td>
                                <span class="fa smaller-text fa-circle" style="margin-left:5px;"></span>
                            </td>
                            <td ng-if="v.object.type!='Resource'">
                                <span>{{v.object.value}}</span>
                            </td>
                            <td ng-if="v.object.type=='Resource' && v.object.value.indexOf('http://fkg.iust.ac.ir/')===-1">
                                <a ng-href="{{v.object.value}}">{{v.object.value | mapPrefix}}</a>
                            </td>
                            <td ng-if="v.object.type=='Resource' && v.object.value.indexOf('http://fkg.iust.ac.ir/')>-1">
                                <a ng-href="{{PREFIX}}{{v.object.value}}">{{v.object.value | mapPrefix}}</a>
                            </td>
                            <td>
                                <span ng-if="v.object.lang" class="small-text">({{v.object.lang}})</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-include="'templates/footer.html'"></div>
</body>

</html>